{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<p>{{ article.title }}</p>
<p>{{ article.content }}</p>
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.image }}">
{% endif %}
{% if article.thumbnail %}
<img src="{{ article.thumbnail.url }}" alt="{{ article.thumbnail }}" width='400' height='300'>
{% endif %}

<form class='d-flex justify-content-end' action="{% url 'articles:delete' article.pk %}" method='POST'>
    {% csrf_token %} 
    <a class='btn btn-outline-dark mx-1' href="{% url 'articles:update' article.pk %}">수정하기</a>
    <input class='btn btn-outline-dark mx-1' type='submit' value='삭제'>
</form>

{% endblock content %}