{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container">
    <h1 class="fw-bolder text-center my-3">{{ article.title }}</h1>
    <hr>
    <div class='d-flex justify-content-between'>
        <span><a class='text-decoration-none' href="{% url 'accounts:detail' article.user.pk %}">{{ article.user_name }}</a></span>
        <span>{{ article.created_at|date:'y년 m월 d일' }} | {{ article.updated_at|date:'y년 m월 d일' }}</span>
    </div>
    <hr>
    <div class='border'>
        <p class="p-3">{{ article.content }}</p>
        <img class='my-3' src="{{ article.image.url }}" alt="{{ article.image }}">
    </div>
    <div class='d-flex justify-content-center my-3 text-danger'>
        {% if request.user.is_authenticated %}
        <a class='text-danger text-decoration-none mx-2' href="{% url 'articles:like' article.pk %}">
        {% if request.user in article.like_users.all %}
            <i class="bi bi-heart-fill"></i>
        {% else %}
            <i class="bi bi-heart"></i>
        {% endif %}
        </a>{{ article.like_users.count }}
    </div>
    {% endif %}
    <div>
        <a class="btn btn-primary" href="{% url 'articles:index' %}">홈으로</a>
        {% if user == article.user %}
        <a class="btn btn-primary" href="{% url 'articles:update' article.pk %}">수정하기</a>
        <a class="btn btn-danger" href="{% url 'articles:delete' article.pk %}">삭제하기</a>
    <div>
    {% endif %}
    <form class='my-3' action="{% url 'articles:comment_create' article.pk %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class='row'>
            <div class='col-11'>{% bootstrap_form comment_form %}</div>
            <div class='col-1'><input type='submit' class='btn btn-primary' value='댓글쓰기'></div>
        </div>
    </form>
    {% for comment in comments %}
    <div class='border'>
        <div class='d-flex justify-content-between my-1'>
            {% if comment.user == article.user %}
            <div class='d-flex justify-content-start'>
                <span class='mx-1'><a class='text-decoration-none' href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user }}</a></span>
                <span class="badge text-bg-secondary m-1">작성자</span>
                <span> | {{ comment.content }}</span>
            </div>
            {% else %}
            <div class='d-flex justify-content-start'>
                <span class='mx-1'><a class='text-decoration-none' href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user }}</a></span>
                <span> | {{ comment.content }}</span>
            </div>
            {% endif %}
            {% if request.user == comment.user %}
            <div>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#comment_update">수정</button>
                <div class="modal fade" id="comment_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정하기</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method='POST' enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form comment_form %}
                                {% bootstrap_button button_type="submit" content="댓글 수정하기" %}
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#comment_delete">삭제</button>
                <div class="modal fade" id="comment_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 삭제하기</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>정말로 삭제하시겠습니까?</p>
                            <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method='POST'>
                                {% csrf_token %}
                                {% bootstrap_button button_type="submit" content="댓글 삭제하기" %}
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if comment.image %}
        <img src="{{ comment.image.url }}" alt="{{ comment.image }}">
        {% endif %}
        
    </div>
    {% endfor %}
    <br>
    
</div>    
{% endblock %}