{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class='container border my-3 fs-4'>
    {% if user.is_superuser %}
    <p>관리자</p>
    {% endif %}
    <p>pk : {{ user.id }}<p>
    <p>username : {{ user.username }}</p>
    <p>name : {{ user.full_name }}</p>
    <p>email : {{ user.email }}</p>
    <p>date_joined : {{ user.date_joined }}</p>
    <p>last_login : {{ user.last_login }}</p>
</div>
<div class='container d-flex justify-content-between my-3'>
    {% if request.user.is_superuser %}
    <a class='btn btn-primary btn-sm' href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
    {% else %}
    <a class='btn btn-primary btn-sm' href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
    <a class='btn btn-primary btn-sm' data-bs-toggle="modal" data-bs-target="#exampleModal">탈퇴하기</a>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">탈퇴하기</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              정말로 탈퇴하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <a class='btn btn-primary' href="{% url 'accounts:delete' %}">탈퇴하기</a>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}