{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1 class='text-center my-3'>회원 리스트<h1>
<div class='container fs-6'>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>pk</th>
                <th scope='col'>username</th>
                <th scope='col'>name</th>
                <th scope='col'>email</th>
                <th scope='col'>date_joined</th>
                <th scope='col'>last_login</th>
                <th scope='col'>is_superuser</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a class='text-decoration-none' href = {% url 'accounts:detail' user.pk %}>{{ user.username }}</td>
                <td>{{ user.last_name }}{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                {% if user.is_superuser %}
                <td>관리자</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}