<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class='navbar bg-success bg-opacity-25'>
        <div class='container-fluid justify-content-between'>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a class='btn btn-primary btn-sm' href="{% url 'accounts:index' %}">회원 리스트</a>
                <a href="{% url 'articles:index' %}" class='fs-5 text-dark text-decoration-none'><p>{{ request.user }}님, 환영합니다</p></a>
                <a class='btn btn-primary btn-sm' href="{% url 'accounts:logout' %}">로그아웃</a>
                {% else %}
                <a class='btn btn-primary btn-sm' href="{% url 'accounts:detail' request.user.pk %}">내 정보</a>
                <a href="{% url 'articles:index' %}" class='fs-5 text-dark text-decoration-none'><p>{{ request.user }}님, 환영합니다</p></a>
                <a class='btn btn-primary btn-sm' href="{% url 'accounts:logout' %}">로그아웃</a>
                {% endif %}
            {% else %}
            <a class='btn btn-primary btn-sm' href="{% url 'accounts:signup' %}">회원가입</a>
            <a class='btn btn-primary btn-sm' href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
        </div>
    </nav>



    {% block content %}
    {% endblock content %}
    {% bootstrap_javascript %}
</body>
</html>